<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="Container mt-5">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <h1>Puppy Computed</h1>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="Container mt-5">
                <div class="row">
                        <div class="col-6">
                                <form>
                                        <div class="row">
                                          <div class="col">
                                                <label for="formGroupExampleInput">ชื่อ</label>
                                            <input type="text" class="form-control" placeholder="name" v-model="name">
                                            {{name}}
                                          </div>
                                          <div class="col">
                                                <label for="formGroupExampleInput">ราคา</label>
                                            <input type="text" class="form-control" placeholder="price" v-model="price">
                                            {{price}}
                                          </div>
                                        </div>
                                      </form>
                        </div>
                    </div>
                 <div class="row">
                     <div class="ml-5">
                         
                                    <button class="btn btn-primary" v-on:click.prevent="addPuppy">@Add</button>
                                    <button class="btn btn-primary" v-on:click.prevent="checkresult">@log</button>
                           
                     </div>
                 </div>   
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li v-for="(puppy,index) in puppys">
                              ชื่อหมา {{ puppy.name }} ราคา {{puppy.price}} บาท
                            </li>
                          </ul>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12">
                            รวมราคา {{sumation}} บาท
                        </div>
                    </div>
            </div>
    </div>
 <script>
 
   var app = new Vue({
  el: '#app',
  data: {
    now: Date.now(),
    name:'Tik',
    price:2500,
    summaryprice:0,
    puppys:[
       {
        'name':"Kirito",
        'price':7500   
       },
       {
        'name':"Maki",
        'price':2800      
       },
       {
        'name':"Ming",
        'price':4300      
       },
       {
        'name':"Kwang",
        'price':5400      
       },
   ]  
  },
  methods:{
    checkresult(){
        console.log(this.puppys)
    },
    addPuppy(){
        return this.puppys.push({
            name:this.name,
            price:this.price
        })
    },  
    changeDate: function () {
      this.now = Date.now()
    },
    reverseMessageInMethod: function () {
      return Date.now()
    }
  },
  computed:{
    sumation(){
        let sum = this.puppys.reduce(function (value, data) {
           this.summaryprice =  value + Number(data.price);
            console.log(this.summaryprice)
            return value + Number(data.price);
        }, 0);
        return sum
   
    },  
    reversedMessageInComputed: function () {
      // `this` points to the vm instance
      return Date.now()
    },
    },
    watch:{
        sumation(){
            this.checkresult()
        }
    }
})
 </script>   
</body>
</html>